openapi: 3.1.0
info:
  title: Prospix API
  description: |
    API multi-tenant da plataforma de prospecção inteligente Prospix.
    Primeiro tenant: Giovane Carrara (MetLife · SJRP).

    ## Autenticação
    Todas as rotas (exceto `/auth/*` e `/webhooks/*`) exigem JWT Bearer + header `X-Tenant-Id`.
    O `X-Tenant-Id` é validado contra o JWT — mismatch retorna 403.

    ## Multi-tenancy
    Todo dado é isolado por tenant via RLS no PostgreSQL. Um tenant nunca vê dados de outro.

    ## Rate limits
    - `/auth/*`: 10 req/min por IP
    - `/tenant/*` GET: 600 req/min por tenant
    - `/tenant/*` POST/PATCH: 60 req/min por tenant
  version: 1.0.0
  contact:
    name: Guilds
    email: gustavo.macedo@guilds.com.br

servers:
  - url: https://api.prospix.com.br/v1
    description: Produção
  - url: https://api-staging.prospix.com.br/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Local dev

tags:
  - name: Auth
    description: Autenticação via magic link
  - name: Leads
    description: Gestão de leads capturados
  - name: Conversations
    description: Conversas e mensagens WhatsApp
  - name: Meetings
    description: Reuniões agendadas
  - name: Campaigns
    description: Campanhas de prospecção
  - name: Scripts
    description: Roteiros da IA
  - name: Dashboard
    description: Métricas e KPIs
  - name: Settings
    description: Configurações e integrações
  - name: Notifications
    description: Notificações do usuário
  - name: LGPD
    description: Operações de privacidade
  - name: Admin
    description: Super-admin Guilds (role guilds_admin)
  - name: Webhooks
    description: Recebimento de eventos externos

# =============================================================================
security:
  - bearerAuth: []
    tenantHeader: []

paths:

  # ===========================================================================
  # AUTH
  # ===========================================================================
  /auth/magic-link:
    post:
      tags: [Auth]
      summary: Solicita magic link
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                whatsapp: { type: string, example: "+5517998764422" }
                email: { type: string, format: email }
              oneOf:
                - required: [whatsapp]
                - required: [email]
      responses:
        '200':
          description: Link enviado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sent_to: { type: string, enum: [whatsapp, email] }
                      expires_in: { type: integer, example: 600 }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/callback:
    get:
      tags: [Auth]
      summary: Callback do magic link (troca token por JWT)
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Autenticado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token: { type: string }
                      refresh_token: { type: string }
                      user: { $ref: '#/components/schemas/User' }
                      tenant: { $ref: '#/components/schemas/Tenant' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renova access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: Token renovado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token: { type: string }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Encerra sessão (revoga JWT)
      responses:
        '204': { description: Logout efetuado }

  # ===========================================================================
  # INVITATIONS (cadastro com código · ver PRD anexo N)
  # ===========================================================================
  /auth/invitations/verify:
    post:
      tags: [Auth]
      summary: Verifica se código de convite é válido (sem consumir)
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      security: []
      description: |
        Rate limit 5 req/min por IP (anti brute-force).
        Em erro retorna mensagem genérica · `code` específico só visível no log interno.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  pattern: '^PRSPX-[A-Z0-9]{4}-[A-Z0-9]{4}$'
                  example: 'PRSPX-A8K2-9F4M'
      responses:
        '200':
          description: Código válido
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      tenant_name: { type: string, example: 'Giovane Carrara · MetLife · SJRP' }
                      role: { type: string, enum: [OWNER, ASSISTANT] }
        '404':
          description: INVITATION_INVALID
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '410':
          description: INVITATION_EXPIRED ou INVITATION_ALREADY_USED
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/invitations/redeem:
    post:
      tags: [Auth]
      summary: Consome código de convite + cria owner + envia magic link
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      security: []
      description: |
        Rate limit 3 req/min por IP.
        Marca invitation como usado e dispara magic link via WhatsApp do owner.
        Operação atômica: ou cria tudo, ou nada.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, user, accept_terms]
              properties:
                code:
                  type: string
                  pattern: '^PRSPX-[A-Z0-9]{4}-[A-Z0-9]{4}$'
                user:
                  type: object
                  required: [name, email, whatsapp]
                  properties:
                    name: { type: string, maxLength: 255 }
                    email: { type: string, format: email }
                    whatsapp: { type: string, example: '+5517998764422' }
                    susep: { type: string, nullable: true }
                    city: { type: string, nullable: true }
                accept_terms:
                  type: boolean
                  description: Aceite LGPD + Termos de uso (obrigatório true)
      responses:
        '201':
          description: Cadastrado · magic link enviado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_id: { type: string, format: uuid }
                      tenant_id: { type: string, format: uuid }
                      magic_link_sent: { type: boolean, example: true }
                      sent_to: { type: string, example: 'whatsapp' }
        '410':
          description: Código expirado ou já usado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/admin-login:
    post:
      tags: [Auth]
      summary: Login administrativo Guilds
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 1 }
      responses:
        '200':
          description: Sessão administrativa criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  refresh_token: { type: string }
                  user: { type: object }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { description: Credenciais administrativas inválidas }

  /admin/tenants/{id}/invitations:
    get:
      tags: [Admin]
      summary: Lista invitations do tenant
      x-prospix-response-shape: data-array
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Invitation' }
    post:
      tags: [Admin]
      summary: Gera novo código de convite (admin Guilds)
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl_days: { type: integer, default: 14, minimum: 1, maximum: 60 }
                role: { type: string, enum: [OWNER, ASSISTANT], default: OWNER }
                notes: { type: string, nullable: true }
      responses:
        '201':
          description: Código criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'

  /admin/tenants/{id}/invitations/{invitationId}:
    delete:
      tags: [Admin]
      summary: Revoga código de convite ativo
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: invitationId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Revogado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invitation' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===========================================================================
  # LEADS
  # ===========================================================================
  /tenant/leads:
    get:
      tags: [Leads]
      summary: Lista leads
      x-prospix-response-shape: data-array
      x-prospix-error-shape: flat-error
      parameters:
        - { name: status, in: query, schema: { $ref: '#/components/schemas/LeadStatus' } }
        - { name: fit_score_gte, in: query, schema: { type: number, minimum: 0, maximum: 10 } }
        - { name: fit_score_lte, in: query, schema: { type: number, minimum: 0, maximum: 10 } }
        - { name: profession, in: query, schema: { $ref: '#/components/schemas/Profession' } }
        - { name: campaign_id, in: query, schema: { type: string, format: uuid } }
        - { name: created_after, in: query, schema: { type: string, format: date-time } }
        - { name: search, in: query, schema: { type: string } }
        - { name: sort, in: query, schema: { type: string, example: "-fit_score,created_at" } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 100 } }
      responses:
        '200':
          description: Lista paginada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Lead' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
    post:
      tags: [Leads]
      summary: Cria lead manualmente
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LeadCreate' }
      responses:
        '201':
          description: Lead criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Lead' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /tenant/leads/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Leads]
      summary: Detalhe do lead (com mensagens, reunião, timeline)
      x-prospix-response-shape: raw-object
      responses:
        '200':
          description: Lead completo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/LeadDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Leads]
      summary: Atualiza lead
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                pipeline_stage: { type: string }
                tags: { type: array, items: { type: string } }
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Lead' }
    delete:
      tags: [Leads]
      summary: Soft-delete (LGPD)
      x-prospix-response-shape: empty
      responses:
        '204': { description: Removido }

  /tenant/leads/{id}/optout:
    post:
      tags: [Leads]
      summary: Marca opt-out do lead
      x-prospix-response-shape: raw-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200': { description: Opt-out registrado }

  /tenant/leads/{id}/notes:
    post:
      tags: [Leads]
      summary: Adiciona anotação
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string }
      responses:
        '201': { description: Nota criada }
    get:
      tags: [Leads]
      summary: Lista anotações do lead
      x-prospix-response-shape: raw-array
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Lista }

  # ===========================================================================
  # CONVERSATIONS
  # ===========================================================================
  /tenant/conversations:
    get:
      tags: [Conversations]
      summary: Lista conversas ativas
      x-prospix-response-shape: raw-array
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [active, paused, escalated, closed] } }
        - { name: filter, in: query, schema: { type: string, enum: [hot, waiting, scheduled] } }
        - { name: sort, in: query, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: Lista paginada
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Conversation' }

  /tenant/conversations/{id}/messages:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Conversations]
      summary: Mensagens da conversa (ordem cronológica)
      x-prospix-response-shape: raw-array
      responses:
        '200':
          description: Lista de mensagens
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Message' }
    post:
      tags: [Conversations]
      summary: Envia mensagem (só se user assumiu a conversa)
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string }
                send_via: { type: string, enum: [whatsapp], default: whatsapp }
      responses:
        '201':
          description: Mensagem enfileirada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '409':
          description: Conversa em modo IA — assuma antes de enviar

  /tenant/conversations/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [Conversations]
      summary: Atualiza controle IA/humano da conversa
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [aiHandling]
              properties:
                aiHandling: { type: boolean }
      responses:
        '200':
          description: Conversa atualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conversation' }
        '400': { description: Payload invalido }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===========================================================================
  # MEETINGS
  # ===========================================================================
  /tenant/meetings:
    get:
      tags: [Meetings]
      summary: Lista reuniões
      x-prospix-response-shape: data-array
      parameters:
        - { name: status, in: query, schema: { $ref: '#/components/schemas/MeetingStatus' } }
        - { name: scheduled_after, in: query, schema: { type: string, format: date-time } }
        - { name: scheduled_before, in: query, schema: { type: string, format: date-time } }
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Meeting' }

  /tenant/meetings/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [Meetings]
      summary: Marca resultado pós-reunião
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { $ref: '#/components/schemas/MeetingStatus' }
                outcome: { type: string, enum: [CLOSED, SECOND_MEETING, NOT_INTERESTED, THINKING] }
                policy_value_cents: { type: integer, example: 487000 }
                commission_cents: { type: integer, example: 584400 }
                notes: { type: string }
                referrals_collected:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      whatsapp: { type: string }
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Meeting' }
        '400': { description: Payload invalido }
        '404': { $ref: '#/components/responses/NotFound' }

  /tenant/meetings/reschedule:
    post:
      tags: [Meetings]
      summary: Remarca reunião
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [meetingId, newTime]
              properties:
                meetingId: { type: string, format: uuid }
                newTime: { type: string, format: date-time }
      responses:
        '201':
          description: Remarcada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Meeting' }
        '400': { description: Payload invalido }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===========================================================================
  # CAMPAIGNS
  # ===========================================================================
  /tenant/campaigns:
    get:
      tags: [Campaigns]
      summary: Lista campanhas
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Campaign' }
    post:
      tags: [Campaigns]
      summary: Cria campanha
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CampaignCreate' }
      responses:
        '201':
          description: Criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Campaign' }

  /tenant/campaigns/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Campaigns]
      summary: Detalhe da campanha
      responses:
        '200':
          description: Campanha
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Campaign' }
    patch:
      tags: [Campaigns]
      summary: Atualiza campanha
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CampaignCreate' }
      responses:
        '200': { description: Atualizada }
    delete:
      tags: [Campaigns]
      summary: Arquiva campanha
      x-prospix-response-shape: empty
      responses:
        '204': { description: Arquivada }

  /tenant/campaigns/{id}/pause:
    post:
      tags: [Campaigns]
      summary: Pausa campanha
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Pausada }

  /tenant/campaigns/{id}/resume:
    post:
      tags: [Campaigns]
      summary: Retoma campanha
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Retomada }

  # ===========================================================================
  # SCRIPTS
  # ===========================================================================
  /tenant/scripts:
    get:
      tags: [Scripts]
      summary: Lista roteiros do tenant
      x-prospix-response-shape: raw-array
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Script' }
    post:
      tags: [Scripts]
      summary: Cria roteiro do tenant
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [baseMessage]
              properties:
                name: { type: string }
                baseMessage: { type: string }
                variations:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: string }
                      name: { type: string }
                      weight: { type: number, minimum: 0, maximum: 100 }
                      content: { type: string }
      responses:
        '201':
          description: Script criado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Script' }
        '400': { description: Payload invalido }

  /tenant/scripts/simulate:
    post:
      tags: [Scripts]
      summary: Simula resposta de roteiro
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input, baseMessage]
              properties:
                input: { type: string }
                baseMessage: { type: string }
                variations:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      weight: { type: number, minimum: 0, maximum: 100 }
                      content: { type: string }
      responses:
        '200':
          description: Preview simulado
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply: { type: string }
                  variantUsed: { type: string }
        '400': { description: Payload invalido }

  /tenant/scripts/clone:
    post:
      tags: [Scripts]
      summary: Clona template pra tenant
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [templateId]
              properties:
                templateId: { type: string, format: uuid }
      responses:
        '201':
          description: Script clonado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Script' }
        '400': { description: Payload invalido }

  /tenant/scripts/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [Scripts]
      summary: Atualiza roteiro (flow, status)
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                flow: { type: object }
                status: { type: string, enum: [DRAFT, ACTIVE, PAUSED, ARCHIVED] }
                baseMessage: { type: string }
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Script' }
        '400': { description: Payload invalido }

  /tenant/scripts/{id}/variations:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [Scripts]
      summary: Cria ou atualiza variante de roteiro
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variantLetter, message]
              properties:
                variantLetter: { type: string, minLength: 1, maxLength: 2 }
                message: { type: string }
                weight: { type: number, minimum: 0, maximum: 1, default: 0.33 }
      responses:
        '201':
          description: Variante salva
          content:
            application/json:
              schema: { type: object }
        '400': { description: Payload invalido }
        '404': { $ref: '#/components/responses/NotFound' }

  /tenant/scripts/{id}/test:
    post:
      tags: [Scripts]
      summary: Testa roteiro com lead fictício
      x-prospix-response-shape: raw-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test_lead: { type: object }
      responses:
        '200':
          description: Preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  preview: { type: string }
                  nodes_count: { type: integer }
                  active_variations:
                    type: array
                    items: { type: string }

  # ===========================================================================
  # DASHBOARD
  # ===========================================================================
  /tenant/dashboard/today:
    get:
      tags: [Dashboard]
      summary: Cards do dia
      x-prospix-response-shape: data-object
      responses:
        '200':
          description: Resumo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      meetings_today: { type: integer }
                      conversations_ready: { type: integer }
                      need_callback: { type: integer }
                      new_leads_today: { type: integer }
                      next_meeting: { $ref: '#/components/schemas/Meeting' }

  /tenant/dashboard/funnel:
    get:
      tags: [Dashboard]
      summary: Funil de prospecção
      x-prospix-response-shape: data-object
      parameters:
        - { name: period, in: query, schema: { type: string, enum: [7d, 30d, 90d], default: 30d } }
      responses:
        '200':
          description: Funil
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      captured: { type: integer }
                      whatsapp_valid: { type: integer }
                      sent: { type: integer }
                      responded: { type: integer }
                      qualified: { type: integer }
                      scheduled: { type: integer }

  /tenant/dashboard/performance:
    get:
      tags: [Dashboard]
      summary: Resultado financeiro e metas
      x-prospix-response-shape: data-object
      responses:
        '200':
          description: Performance financeira
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total_policy_cents: { type: integer }
                      total_commission_cents: { type: integer }
                      sales_count: { type: integer }
                      goals: { type: object }

  /tenant/dashboard/ai-usage:
    get:
      tags: [Dashboard]
      summary: Consumo de IA
      x-prospix-response-shape: data-object
      parameters:
        - { name: period, in: query, schema: { type: string, default: current_month } }
      responses:
        '200':
          description: Uso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      tokens_used: { type: integer }
                      tokens_quota: { type: integer }
                      cost_cents: { type: integer }
                      cost_quota_cents: { type: integer }
                      breakdown: { type: object }

  # ===========================================================================
  # SETTINGS & INTEGRATIONS
  # ===========================================================================
  /tenant/integrations/google/oauth:
    get:
      tags: [Settings]
      summary: Inicia OAuth Google
      x-prospix-response-shape: raw-object
      responses:
        '200':
          description: URL de autorização
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth_url: { type: string, format: uri }

  /tenant/integrations/google/callback:
    get:
      tags: [Settings]
      summary: Callback OAuth Google Calendar
      parameters:
        - { name: code, in: query, schema: { type: string } }
        - { name: state, in: query, schema: { type: string } }
        - { name: error, in: query, schema: { type: string } }
      responses:
        '302': { description: Redireciona para o app com status da integracao }
        '400': { description: Callback invalido ou state expirado }

  /tenant/integrations/whatsapp/status:
    get:
      tags: [Settings]
      summary: Status da integracao WhatsApp
      x-prospix-response-shape: raw-object
      responses:
        '200':
          description: Status atual
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [connected, disconnected] }
                  configured: { type: boolean }
                  instanceName: { type: string, nullable: true }
                  error: { type: string }

  /tenant/integrations/whatsapp/connect:
    post:
      tags: [Settings]
      summary: Cria/verifica instancia WhatsApp e retorna QR Code
      x-prospix-response-shape: raw-object
      responses:
        '200':
          description: QR Code gerado
          content:
            application/json:
              schema:
                type: object
                properties:
                  instanceName: { type: string }
                  qrcode: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { description: Falha externa Evolution API }

  /tenant/integrations/whatsapp/disconnect:
    post:
      tags: [Settings]
      summary: Desconecta sessao WhatsApp
      x-prospix-response-shape: raw-object
      responses:
        '200':
          description: Sessao desconectada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }
        '400': { description: Integracao nao configurada }
        '500': { description: Falha externa Evolution API }

  # ===========================================================================
  # NOTIFICATIONS
  # ===========================================================================
  # LGPD · AUD-P2-033 (UX operacional para direitos do titular)
  # ===========================================================================
  /tenant/lgpd/requests:
    get:
      tags: [LGPD]
      summary: Lista solicitações LGPD do tenant
      description: |
        Retorna até 100 solicitações ordenadas por data desc.
        Inclui status, scope, downloadUrl (se COMPLETED) e timestamps.
      responses:
        '200':
          description: Lista de solicitações
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/LgpdRequest' }
    post:
      tags: [LGPD]
      summary: Cria nova solicitação LGPD (art. 18)
      description: |
        Tipos suportados:
        - `EXPORT_DATA` · portabilidade (art. 18 V)
        - `DELETE_TENANT_DATA` · exclusão do tenant (art. 18 VI)
        - `DELETE_LEAD_DATA` · exclusão de lead específico (requer `scope.lead_whatsapp`)
        - `CORRECT_DATA` · correção (requer `scope.field`)
        - `CONFIRM_DATA` · confirmação da existência (art. 18 I)

        Rate limit: máximo 3 requests PENDING/PROCESSING simultâneos por tenant.
        SLA de resposta: 15 dias úteis (LGPD art. 19).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  enum: [EXPORT_DATA, DELETE_TENANT_DATA, DELETE_LEAD_DATA, CORRECT_DATA, CONFIRM_DATA]
                scope:
                  type: object
                  additionalProperties: true
                  description: |
                    Depende de `type`:
                    - DELETE_LEAD_DATA: `{ lead_whatsapp: string }`
                    - CORRECT_DATA: `{ field: string, oldValue?, newValue? }`
                    - EXPORT_DATA: `{ include?: ["leads","conversations","meetings","scripts"] }`
      responses:
        '202':
          description: Solicitação registrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/LgpdRequest'
                      - type: object
                        properties:
                          sla:
                            type: object
                            properties:
                              message: { type: string }
                              estimated_resolution_days: { type: integer }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429':
          description: Rate limit (max 3 PENDING/PROCESSING simultâneos)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /tenant/lgpd/requests/{id}:
    get:
      tags: [LGPD]
      summary: Detalhe de uma solicitação LGPD
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Detalhe
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/LgpdRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /tenant/lgpd/requests/{id}/cancel:
    post:
      tags: [LGPD]
      summary: Cancela solicitação ainda PENDING
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Cancelada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/LgpdRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Já está em PROCESSING ou COMPLETED — não pode cancelar
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ===========================================================================
  /tenant/notifications/preferences:
    get:
      tags: [Notifications]
      summary: Preferências de notificação
      x-prospix-response-shape: data-array
      responses:
        '200':
          description: Preferências
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/NotificationPreference' }
    put:
      tags: [Notifications]
      summary: Atualiza preferências
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [eventType, channels]
              properties:
                eventType: { type: string, example: 'meeting_reminder_1h' }
                channels:
                  type: array
                  items: { $ref: '#/components/schemas/NotificationChannel' }
                  minItems: 1
                enabled: { type: boolean, default: true }
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/NotificationPreference' }
        '400': { description: Payload invalido }

  # ===========================================================================
  # ADMIN (super-admin Guilds)
  # ===========================================================================
  /admin/tenants:
    get:
      tags: [Admin]
      summary: Lista todos tenants
      x-prospix-response-shape: data-array
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/TenantAdmin' }
    post:
      tags: [Admin]
      summary: Cria tenant novo (onboarding)
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name, plan, segment, owner_email, owner_whatsapp]
              properties:
                slug: { type: string, example: "giovane-metlife" }
                name: { type: string }
                plan: { type: string, enum: [starter, standard, premium] }
                segment: { type: string }
                owner_email: { type: string, format: email }
                owner_whatsapp: { type: string }
      responses:
        '201':
          description: Tenant criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/TenantAdmin' }

  /admin/tenants/{id}:
    get:
      tags: [Admin]
      summary: Detalhe administrativo do tenant
      x-prospix-response-shape: data-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Tenant com estado de credenciais
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Admin]
      summary: Atualiza metadados administrativos do tenant
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                plan: { type: string, enum: [STARTER, STANDARD, PREMIUM] }
                mrrCents: { type: integer }
                status: { type: string }
      responses:
        '200':
          description: Tenant atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }
        '400': { $ref: '#/components/responses/ValidationError' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/tenants/{id}/suspend:
    post:
      tags: [Admin]
      summary: Suspende tenant
      x-prospix-response-shape: raw-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Suspenso }

  /admin/tenants/{id}/resume:
    post:
      tags: [Admin]
      summary: Reativa tenant
      x-prospix-response-shape: raw-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Reativado }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/tenants/{id}/churn:
    post:
      tags: [Admin]
      summary: Inicia churn do tenant
      x-prospix-response-shape: raw-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { description: Churn iniciado }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/usage/consolidated:
    get:
      tags: [Admin]
      summary: Uso consolidado (todos tenants)
      x-prospix-response-shape: data-array
      responses:
        '200':
          description: Métricas consolidadas
          content:
            application/json:
              schema: { type: object }

  /admin/billing:
    get:
      tags: [Admin]
      summary: Lista cobrancas pendentes ou vencidas
      x-prospix-response-shape: data-array
      responses:
        '200':
          description: Lista de cobrancas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object }

  /admin/billing/{id}/pay:
    patch:
      tags: [Admin]
      summary: Confirma pagamento manual/offline
      x-prospix-response-shape: data-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Cobranca marcada como paga
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===========================================================================
  # DLQ · AUD-P1-021
  # ===========================================================================
  /admin/dlq:
    get:
      tags: [Admin]
      summary: Resumo da DLQ por worker + allowlist
      description: |
        Retorna estado consolidado das DLQs · allowlist de workers que aceitam
        replay (`DLQ_REPLAYABLE_WORKERS` em `apps/api/src/lib/dlq.ts`) +
        link ao runbook.
      responses:
        '200':
          description: Resumo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      replayable_workers:
                        type: array
                        items: { type: string }
                      all_workers:
                        type: array
                        items:
                          type: object
                          properties:
                            worker: { type: string }
                            replayable: { type: boolean }
                            list_endpoint: { type: string }
                      runbook: { type: string }
                      retention_days: { type: integer }

  /admin/dlq/{worker}:
    get:
      tags: [Admin]
      summary: Lista jobs DLQ de um worker
      parameters:
        - { name: worker, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, default: 0 } }
        - { name: tenant_id, in: query, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Lista DLQ
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      worker: { type: string }
                      replayable: { type: boolean }
                      count: { type: integer }
                      jobs:
                        type: array
                        items: { type: object }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/dlq/{worker}/{dlqJobId}/replay:
    post:
      tags: [Admin]
      summary: Replay manual de um job DLQ (allowlist obrigatoria)
      description: |
        Replay so e permitido para workers em `DLQ_REPLAYABLE_WORKERS`.
        Workers fora da allowlist retornam 403 com link ao runbook.
        `approved_by` e `reason` sao obrigatorios para audit log.
      parameters:
        - { name: worker, in: path, required: true, schema: { type: string } }
        - { name: dlqJobId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approved_by, reason]
              properties:
                dry_run: { type: boolean, default: false }
                approved_by: { type: string, maxLength: 255 }
                reason: { type: string, maxLength: 2000 }
      responses:
        '200':
          description: Replay efetuado (ou dry-run validado)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok: { type: boolean }
                      worker: { type: string }
                      dlq_job_id: { type: string }
                      source_job_id: { type: string }
                      replayed_into: { type: string }
                      new_job_id: { type: string }
                      dry_run: { type: boolean }
                      approved_by: { type: string }
                      reason: { type: string }
                      replayed_at: { type: string, format: date-time }
        '403':
          description: Worker fora da allowlist (UNAUTHORIZED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/dlq/{worker}/{dlqJobId}:
    delete:
      tags: [Admin]
      summary: Purge manual de um job DLQ (sem replay)
      description: Remove job DLQ sem reprocessar; exige `approved_by` + `reason`.
      parameters:
        - { name: worker, in: path, required: true, schema: { type: string } }
        - { name: dlqJobId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approved_by, reason]
              properties:
                approved_by: { type: string, maxLength: 255 }
                reason: { type: string, maxLength: 2000 }
      responses:
        '200':
          description: Job removido
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok: { type: boolean }
                      purged_at: { type: string, format: date-time }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/templates:
    get:
      tags: [Admin]
      summary: Lista templates master
      x-prospix-response-shape: data-array
      responses:
        '200':
          description: Lista
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object }
    post:
      tags: [Admin]
      summary: Cria template master
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }
        '400': { $ref: '#/components/responses/ValidationError' }

  /admin/templates/{id}:
    patch:
      tags: [Admin]
      summary: Atualiza template master
      x-prospix-response-shape: data-object
      x-prospix-error-shape: flat-error
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }
        '400': { $ref: '#/components/responses/ValidationError' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Admin]
      summary: Desativa template master
      x-prospix-response-shape: raw-object
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Desativado }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===========================================================================
  # WEBHOOKS
  # ===========================================================================
  /webhooks/evolution:
    post:
      tags: [Webhooks]
      summary: Dispatcher unificado da Evolution API
      x-prospix-response-shape: raw-object
      security: []
      parameters:
        - { name: x-evolution-signature, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: ACK rapido }
        '401': { description: HMAC invalido }

  /webhooks/evolution/inbound:
    post:
      tags: [Webhooks]
      summary: Mensagem recebida do lead (Evolution API)
      x-prospix-response-shape: raw-object
      security: []
      parameters:
        - { name: x-evolution-signature, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EvolutionInboundPayload' }
      responses:
        '200': { description: Enfileirado (ACK rápido) }
        '401': { description: HMAC inválido }

  /webhooks/evolution/status:
    post:
      tags: [Webhooks]
      summary: Status de delivery (Evolution API)
      x-prospix-response-shape: raw-object
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: OK }

  /webhooks/evolution/instance:
    post:
      tags: [Webhooks]
      summary: Status da instância (Evolution API)
      x-prospix-response-shape: raw-object
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: OK }

  /webhooks/asaas:
    post:
      tags: [Webhooks]
      summary: Eventos de billing (Asaas · MVP)
      x-prospix-response-shape: raw-object
      x-prospix-error-shape: flat-error
      security: []
      description: |
        Eventos recebidos:
        - PAYMENT_CREATED, PAYMENT_CONFIRMED, PAYMENT_RECEIVED
        - PAYMENT_OVERDUE (dispara régua de inadimplência)
        - PAYMENT_DELETED
        Validação por assinatura ASAAS_WEBHOOK_SECRET.
      parameters:
        - { name: asaas-access-token, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, payment]
              properties:
                event: { type: string, example: 'PAYMENT_CONFIRMED' }
                payment:
                  type: object
                  properties:
                    id: { type: string }
                    customer: { type: string }
                    value: { type: number }
                    status: { type: string }
                    dueDate: { type: string, format: date }
                    billingType: { type: string, enum: [PIX, BOLETO, CREDIT_CARD] }
      responses:
        '200': { description: OK }
        '401': { description: Token inválido }

# =============================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    tenantHeader:
      type: apiKey
      in: header
      name: X-Tenant-Id

  responses:
    Unauthenticated:
      description: Token ausente ou inválido
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Sem permissão (role ou tenant mismatch)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Recurso não encontrado neste tenant
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationError:
      description: Payload inválido
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Limite de requisições excedido
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: [UNAUTHENTICATED, UNAUTHORIZED, RESOURCE_NOT_FOUND, VALIDATION_ERROR, RATE_LIMITED, TENANT_QUOTA_EXCEEDED, EXTERNAL_SERVICE_DOWN, INTERNAL_ERROR]
            message: { type: string }
            details: { type: object }
            trace_id: { type: string }
        meta:
          type: object
          properties:
            request_id: { type: string }
            timestamp: { type: string, format: date-time }

    PaginatedResponse:
      type: object
      properties:
        pagination:
          type: object
          properties:
            next_cursor: { type: string, nullable: true }
            has_more: { type: boolean }
            total_estimate: { type: integer }

    LeadStatus:
      type: string
      enum: [captured, enriched, contacted, no_response, conversing, qualified, meeting_scheduled, closed_won, closed_lost, not_interested, lost_before_meeting, opted_out, archived, escalated_human]

    Profession:
      type: string
      enum: [doctor, lawyer, dentist, entrepreneur, engineer, architect, accountant, other]

    MeetingStatus:
      type: string
      enum: [SCHEDULED, CONFIRMED, HAPPENED, NO_SHOW, RESCHEDULED, CANCELLED]

    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        plan: { type: string }
        brand_primary_color: { type: string }

    TenantAdmin:
      allOf:
        - $ref: '#/components/schemas/Tenant'
        - type: object
          properties:
            status: { type: string }
            mrr_cents: { type: integer }
            go_live_at: { type: string, format: date-time }
            health: { type: string, enum: [green, yellow, red] }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        role: { type: string, enum: [owner, assistant, guilds_admin] }
        name: { type: string }
        email: { type: string, format: email }
        whatsapp: { type: string }
        susep: { type: string }

    Lead:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, nullable: true }
        profession: { $ref: '#/components/schemas/Profession' }
        whatsapp: { type: string }
        whatsapp_valid: { type: boolean }
        fit_score: { type: number, minimum: 0, maximum: 10 }
        status: { $ref: '#/components/schemas/LeadStatus' }
        pipeline_stage: { type: string }
        source: { type: string }
        address: { type: object }
        created_at: { type: string, format: date-time }

    LeadCreate:
      type: object
      required: [whatsapp]
      properties:
        name: { type: string }
        whatsapp: { type: string }
        profession: { $ref: '#/components/schemas/Profession' }
        source: { type: string, default: manual }
        metadata: { type: object }

    LeadDetail:
      allOf:
        - $ref: '#/components/schemas/Lead'
        - type: object
          properties:
            recent_messages:
              type: array
              items: { $ref: '#/components/schemas/Message' }
            last_meeting: { $ref: '#/components/schemas/Meeting' }
            events:
              type: array
              items: { $ref: '#/components/schemas/LeadEvent' }
            health_profile: { type: object, nullable: true }

    Conversation:
      type: object
      properties:
        id: { type: string, format: uuid }
        lead_id: { type: string, format: uuid }
        lead_name: { type: string }
        status: { type: string, enum: [active, paused, escalated, closed] }
        ai_handling: { type: boolean }
        message_count: { type: integer }
        last_message_at: { type: string, format: date-time }
        last_message_preview: { type: string }

    Message:
      type: object
      properties:
        id: { type: string, format: uuid }
        direction: { type: string, enum: [inbound, outbound] }
        sender: { type: string, enum: [ai, user, lead] }
        content: { type: string }
        delivery_status: { type: string, enum: [queued, sent, delivered, read, failed] }
        intent_detected: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    Meeting:
      type: object
      properties:
        id: { type: string, format: uuid }
        lead_id: { type: string, format: uuid }
        lead_name: { type: string }
        scheduled_for: { type: string, format: date-time }
        duration_minutes: { type: integer }
        location: { type: string }
        status: { $ref: '#/components/schemas/MeetingStatus' }
        outcome: { type: string, nullable: true }
        attendees: { type: array, items: { type: object } }

    Campaign:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [draft, active, paused, archived] }
        profession: { $ref: '#/components/schemas/Profession' }
        cities: { type: array, items: { type: string } }
        daily_limit: { type: integer }
        total_captured: { type: integer }
        total_conversing: { type: integer }
        total_scheduled: { type: integer }

    CampaignCreate:
      type: object
      required: [name, profession, cities]
      properties:
        name: { type: string }
        profession: { $ref: '#/components/schemas/Profession' }
        cities: { type: array, items: { type: string } }
        neighborhoods: { type: array, items: { type: string } }
        daily_limit: { type: integer, default: 100 }
        hour_window: { type: array, items: { type: integer }, example: [9, 18] }
        active_script_id: { type: string, format: uuid }
        filters: { type: object }

    Script:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        category: { type: string, enum: [approach, objection, education, closing, follow_up, referral, reactivation] }
        target_profession: { $ref: '#/components/schemas/Profession' }
        status: { type: string, enum: [draft, active, archived] }
        response_rate: { type: number }
        conversion_rate: { type: number }
        total_usages: { type: integer }

    ScriptDetail:
      allOf:
        - $ref: '#/components/schemas/Script'
        - type: object
          properties:
            flow: { type: object }
            base_message: { type: string }
            variables: { type: array, items: { type: string } }
            variations:
              type: array
              items:
                type: object
                properties:
                  variant_letter: { type: string }
                  message: { type: string }
                  response_rate: { type: number }

    ScriptTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        segment: { type: string }
        category: { type: string }
        target_profession: { $ref: '#/components/schemas/Profession' }
        popularity: { type: integer }

    LeadEvent:
      type: object
      properties:
        event_type: { type: string }
        payload: { type: object }
        created_at: { type: string, format: date-time }

    Notification:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string }
        title: { type: string }
        body: { type: string }
        read_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    NotificationChannel:
      type: string
      enum: [PUSH, WHATSAPP, EMAIL, SMS]

    NotificationPreference:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        eventType: { type: string }
        channels:
          type: array
          items: { $ref: '#/components/schemas/NotificationChannel' }
        enabled: { type: boolean }
        updatedAt: { type: string, format: date-time }

    EvolutionInboundPayload:
      type: object
      description: Webhook `messages.upsert` da Evolution API
      properties:
        event: { type: string, example: 'messages.upsert' }
        instance: { type: string, example: 'tenant_giovane' }
        data:
          type: object
          properties:
            key:
              type: object
              properties:
                remoteJid: { type: string, example: '5517998764422@s.whatsapp.net' }
                fromMe: { type: boolean }
                id: { type: string }
            pushName: { type: string }
            message:
              type: object
              properties:
                conversation: { type: string, nullable: true }
                extendedTextMessage:
                  type: object
                  properties:
                    text: { type: string }
            messageTimestamp: { type: integer }

    LgpdRequest:
      type: object
      description: Solicitação de direito do titular LGPD (art. 18)
      properties:
        id: { type: string, format: uuid }
        type:
          type: string
          enum: [EXPORT_DATA, DELETE_TENANT_DATA, DELETE_LEAD_DATA, CORRECT_DATA, CONFIRM_DATA]
        status:
          type: string
          enum: [PENDING, PROCESSING, COMPLETED, REJECTED, CANCELED]
        scope:
          type: object
          nullable: true
          additionalProperties: true
        downloadUrl: { type: string, nullable: true, description: 'R2 presigned URL · só presente quando status=COMPLETED' }
        downloadExpiresAt: { type: string, format: date-time, nullable: true }
        rejectionReason: { type: string, nullable: true }
        processedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Invitation:
      type: object
      properties:
        id: { type: string, format: uuid }
        code:
          type: string
          pattern: '^PRSPX-[A-Z0-9]{4}-[A-Z0-9]{4}$'
          example: 'PRSPX-A8K2-9F4M'
        tenant_id: { type: string, format: uuid }
        role: { type: string, enum: [OWNER, ASSISTANT] }
        created_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        used_at: { type: string, format: date-time, nullable: true }
        used_by_user_id: { type: string, format: uuid, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        notes: { type: string, nullable: true }
        status:
          type: string
          enum: [active, used, expired, revoked]
          description: Status derivado dos timestamps

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - UNAUTHENTICATED
                - UNAUTHORIZED
                - RESOURCE_NOT_FOUND
                - VALIDATION_ERROR
                - RATE_LIMITED
                - TENANT_QUOTA_EXCEEDED
                - INVITATION_INVALID
                - INVITATION_EXPIRED
                - INVITATION_ALREADY_USED
                - EXTERNAL_SERVICE_DOWN
                - INTERNAL_ERROR
            message: { type: string }
            details: { type: object, additionalProperties: true }
            trace_id: { type: string, nullable: true }
        meta:
          type: object
          properties:
            request_id: { type: string }
            timestamp: { type: string, format: date-time }
